
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
.link{
    text-decoration:none;
    color:aliceblue;
    padding: 3px;
}
.link:hover{
    background-color: aliceblue;
    color:chocolate;
    border-radius: 6px;
    padding: 2px;
}